name: main

on: push

jobs:
  create:
    name: Pull Request
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Create Pull Request
      run: gh pr create --fill
  merge:
    name: Merge Pull Request
    runs-on: ubuntu-latest
    needs: create
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Merge Pull Request
      run: gh pr merge
